<a href="https://colab.research.google.com/github/The7redarrow/ml-class/blob/master/Crate_and_Barrel_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reading datasets and analysis on the data

In [11]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sn
import warnings
warnings.filterwarnings("ignore")

In [12]:
data = pd.read_csv('train.csv')

In [13]:
data.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

### Checking for null values

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61878 entries, 0 to 61877
Data columns (total 95 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       61878 non-null  int64
 1   feat_1   61878 non-null  int64
 2   feat_2   61878 non-null  int64
 3   feat_3   61878 non-null  int64
 4   feat_4   61878 non-null  int64
 5   feat_5   61878 non-null  int64
 6   feat_6   61878 non-null  int64
 7   feat_7   61878 non-null  int64
 8   feat_8   61878 non-null  int64
 9   feat_9   61878 non-null  int64
 10  feat_10  61878 non-null  int64
 11  feat_11  61878 non-null  int64
 12  feat_12  61878 non-null  int64
 13  feat_13  61878 non-null  int64
 14  feat_14  61878 non-null  int64
 15  feat_15  61878 non-null  int64
 16  feat_16  61878 non-null  int64
 17  feat_17  61878 non-null  int64
 18  feat_18  61878 non-null  int64
 19  feat_19  61878 non-null  int64
 20  feat_20  61878 non-null  int64
 21  feat_21  61878 non-null  int64
 22  feat_22  61878 non-null  int64
 23  feat_23  61878 non-null  int64
 24  feat_24  61878 non-null  int64
 25  feat_25  61878 non-null  int64
 26  feat_26  61878 non-null  int64
 27  feat_27  61878 non-null  int64
 28  feat_28  61878 non-null  int64
 29  feat_29  61878 non-null  int64
 30  feat_30  61878 non-null  int64
 31  feat_31  61878 non-null  int64
 32  feat_32  61878 non-null  int64
 33  feat_33  61878 non-null  int64
 34  feat_34  61878 non-null  int64
 35  feat_35  61878 non-null  int64
 36  feat_36  61878 non-null  int64
 37  feat_37  61878 non-null  int64
 38  feat_38  61878 non-null  int64
 39  feat_39  61878 non-null  int64
 40  feat_40  61878 non-null  int64
 41  feat_41  61878 non-null  int64
 42  feat_42  61878 non-null  int64
 43  feat_43  61878 non-null  int64
 44  feat_44  61878 non-null  int64
 45  feat_45  61878 non-null  int64
 46  feat_46  61878 non-null  int64
 47  feat_47  61878 non-null  int64
 48  feat_48  61878 non-null  int64
 49  feat_49  61878 non-null  int64
 50  feat_50  61878 non-null  int64
 51  feat_51  61878 non-null  int64
 52  feat_52  61878 non-null  int64
 53  feat_53  61878 non-null  int64
 54  feat_54  61878 non-null  int64
 55  feat_55  61878 non-null  int64
 56  feat_56  61878 non-null  int64
 57  feat_57  61878 non-null  int64
 58  feat_58  61878 non-null  int64
 59  feat_59  61878 non-null  int64
 60  feat_60  61878 non-null  int64
 61  feat_61  61878 non-null  int64
 62  feat_62  61878 non-null  int64
 63  feat_63  61878 non-null  int64
 64  feat_64  61878 non-null  int64
 65  feat_65  61878 non-null  int64
 66  feat_66  61878 non-null  int64
 67  feat_67  61878 non-null  int64
 68  feat_68  61878 non-null  int64
 69  feat_69  61878 non-null  int64
 70  feat_70  61878 non-null  int64
 71  feat_71  61878 non-null  int64
 72  feat_72  61878 non-null  int64
 73  feat_73  61878 non-null  int64
 74  feat_74  61878 non-null  int64
 75  feat_75  61878 non-null  int64
 76  feat_76  61878 non-null  int64
 77  feat_77  61878 non-null  int64
 78  feat_78  61878 non-null  int64
 79  feat_79  61878 non-null  int64
 80  feat_80  61878 non-null  int64
 81  feat_81  61878 non-null  int64
 82  feat_82  61878 non-null  int64
 83  feat_83  61878 non-null  int64
 84  feat_84  61878 non-null  int64
 85  feat_85  61878 non-null  int64
 86  feat_86  61878 non-null  int64
 87  feat_87  61878 non-null  int64
 88  feat_88  61878 non-null  int64
 89  feat_89  61878 non-null  int64
 90  feat_90  61878 non-null  int64
 91  feat_91  61878 non-null  int64
 92  feat_92  61878 non-null  int64
 93  feat_93  61878 non-null  int64
 94  target   61878 non-null  object
dtypes: int64(94), object(1)
memory usage: 44.8+ MB

In [15]:
data.isnull().sum().sum()

0

### data analysis

In [16]:
data.describe()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
count,61878.000000,61878.00000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,...,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000
mean,30939.500000,0.38668,0.263066,0.901467,0.779081,0.071043,0.025696,0.193704,0.662433,1.011296,...,0.070752,0.532306,1.128576,0.393549,0.874915,0.457772,0.812421,0.264941,0.380119,0.126135
std,17862.784315,1.52533,1.252073,2.934818,2.788005,0.438902,0.215333,1.030102,2.255770,3.474822,...,1.151460,1.900438,2.681554,1.575455,2.115466,1.527385,4.597804,2.045646,0.982385,1.201720
min,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15470.250000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,30939.500000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,46408.750000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,61878.000000,61.00000,51.000000,64.000000,70.000000,19.000000,10.000000,38.000000,76.000000,43.000000,...,76.000000,55.000000,65.000000,67.000000,30.000000,61.000000,130.000000,52.000000,19.000000,87.000000

#### Data processing : converting categorical data to integers and splitting data to train and testing set

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
####  replacing classes with numerical represantation

In [19]:
data['target'].unique()

array(['Class_1', 'Class_2', 'Class_3', 'Class_4', 'Class_5', 'Class_6',
       'Class_7', 'Class_8', 'Class_9'], dtype=object)

In [20]:
data['target'] = data['target'].replace(['Class_1', 'Class_2', 'Class_3', 'Class_4', 'Class_5', 'Class_6',
       'Class_7', 'Class_8', 'Class_9'], [1, 2, 3, 4, 5, 6,7, 8, 9])

In [21]:
X = data.drop(['target','id'],axis=1)

In [22]:
Y = data['target']

In [23]:
X.shape

(61878, 93)

In [24]:
Y.shape

(61878,)

In [25]:
Y.unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

#### splitting the data

In [26]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,random_state=104,
                          train_size=0.8, shuffle=True)

In [27]:
X_train.head()

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
42889,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21312,1,0,0,0,0,0,0,1,0,0,...,0,2,1,0,1,0,0,0,1,0
7891,0,0,0,0,0,0,0,0,3,0,...,0,0,4,0,2,0,0,0,0,0
57744,0,0,0,0,0,0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,0
47394,0,0,0,0,0,0,0,1,3,0,...,0,1,3,2,4,0,0,0,0,0

In [28]:
y_train[1:10]

21312    3
7891     2
57744    9
47394    7
46640    7
60194    9
3516     2
27522    4
23427    3
Name: target, dtype: int64

## Model creation and training

# Naive Bayes

In [29]:
from sklearn.naive_bayes import MultinomialNB

In [30]:
nbClassifier = MultinomialNB(alpha=1.0, class_prior = None, fit_prior=True)

In [31]:
nbClassifier.fit(X_train,y_train)

MultinomialNB()

In [32]:
y_pred = nbClassifier.predict(X_test)

In [33]:
y_pred

array([4, 5, 9, ..., 6, 1, 2])

In [34]:
from sklearn.metrics import accuracy_score

In [35]:
accuracy_score(y_pred,y_test)

0.6582094376212023

# Parameter Turing for Naive Bayes

In [36]:
from sklearn.model_selection import GridSearchCV

In [37]:
param={'alpha': [0.00001, 0.0001, 0.001, 0.1, 1, 10, 100,1000]}
    
clf=GridSearchCV(nbClassifier,param,scoring='roc_auc',cv=10,return_train_score=True)

In [38]:
clf.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=MultinomialNB(),
             param_grid={'alpha': [1e-05, 0.0001, 0.001, 0.1, 1, 10, 100,
                                   1000]},
             return_train_score=True, scoring='roc_auc')

In [39]:
y_pred1 = clf.predict(X_test)

In [40]:
accuracy_score(y_pred1,y_test)

0.6581286360698125

# Decision Tree

In [41]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

In [42]:
dtree = DecisionTreeClassifier()

In [43]:
print(cross_val_score(dtree, X_train, y_train, scoring="accuracy", cv = 7))
mean_score = cross_val_score(dtree, X_train, y_train, scoring="accuracy", cv = 7).mean()
std_score = cross_val_score(dtree, X_train, y_train, scoring="accuracy", cv = 7).std()
print(mean_score)
print(std_score)

[0.70192308 0.70757919 0.70913462 0.71705317 0.70673077 0.71871022
 0.71800311]
0.7121937414370467
0.004825114046857612

# Logistic Regression

In [44]:
from sklearn.linear_model import LogisticRegression

In [45]:
ligiRegressor = LogisticRegression(random_state=0,multi_class='auto',solver='lbfgs',max_iter=1000)

In [46]:
ligiRegressor.fit(X_train,y_train)

LogisticRegression(max_iter=1000, random_state=0)

In [47]:
y_pred = ligiRegressor.predict(X_test)

In [48]:
accuracy_score(y_pred,y_test)

0.7574337427278603

# Random Forest Classifier ensemble technique

In [49]:
from sklearn.ensemble import RandomForestClassifier

In [50]:
clfRandom = RandomForestClassifier(n_estimators=9,max_depth=2,random_state=0)

In [51]:
clfRandom.fit(X_train,y_train)

RandomForestClassifier(max_depth=2, n_estimators=9, random_state=0)

In [52]:
y_pred = clfRandom.predict(X_test)

In [53]:
accuracy_score(y_pred,y_test)

0.464770523594053

# Actual Prediction

## Considering all the algorigthm used we can say Logistic Regression performs best in our data and we can use it in prediction

## reading actual data

In [54]:
actual_x = pd.read_csv('test.csv')

In [55]:
actual_x.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
0,1,0,0,0,0,0,0,0,0,0,...,0,0,11,1,20,0,0,0,0,0
1,2,2,2,14,16,0,0,0,0,0,...,0,0,0,0,0,4,0,0,2,0
2,3,0,1,12,1,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,0,...,0,3,1,0,0,0,0,0,0,0
4,5,1,0,0,1,0,0,1,2,0,...,0,0,0,0,0,0,0,9,0,0

In [56]:
actual_x = actual_x.drop(['id'],axis=1)

In [57]:
y_pred = ligiRegressor.predict(actual_x)

In [58]:
actual_x['predicted_classes'] = y_pred

In [59]:
actual_x['predicted_classes'] = actual_x['predicted_classes'].replace([1, 2, 3, 4, 5, 6,7, 8, 9],['Class_1', 'Class_2', 'Class_3', 'Class_4', 'Class_5', 'Class_6',
       'Class_7', 'Class_8', 'Class_9'])

In [60]:
actual_x.head()

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,predicted_classes
0,0,0,0,0,0,0,0,0,0,3,...,0,11,1,20,0,0,0,0,0,Class_4
1,2,2,14,16,0,0,0,0,0,0,...,0,0,0,0,4,0,0,2,0,Class_6
2,0,1,12,1,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,1,Class_6
3,0,0,0,1,0,0,0,0,0,0,...,3,1,0,0,0,0,0,0,0,Class_2
4,1,0,0,1,0,0,1,2,0,3,...,0,0,0,0,0,0,9,0,0,Class_1

In [61]:
actual_x.to_csv("predicted_values.csv")